.board {
    display: grid;

    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;

    height: 400px;
    width: 400px;

}

.cell {
    border: 1px solid black;
}

.cell:hover {
    cursor: pointer;
}